@font-face {
  font-family: 'inter'; 
  src: url('/fuentes/Inter/Inter-VariableFont_opsz,wght.ttf'); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif; 
}



.icono-color {
    width: 20px !important;
    height: 20px !important;
    margin-left: 8px;
    vertical-align: middle;
}




header {
    width: 100%;
    background-color: #fffbff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 10;
}

.menu-toggle {
    position: absolute;
    left: 15px;
}

.menu-item {
    margin-bottom: 10px;
}

.categoria {
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    font-weight: bold;
    color: #111;
}

.categoria.active {
    color: #ff5722;
}

.submenu {
    display: none;
    flex-direction: column;
    margin-left: 10px;
    animation: fade .3s ease;
}

.submenu a {
    font-size: 16px;
    padding: 6px 0;
    color: #14110f;
    text-decoration: none;
}

.solo-link {
    font-size: 18px;
    margin-top: 10px;
    display: block;
    color: #111;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}


header .icono {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

header .logo {
    height: 50px;
}


.icons-header {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 10px;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    width: 230px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: .3s;
    z-index: 20;
}

.menu-lateral.active {
    left: 0;
}

.menu-lateral a {
    padding: 10px 0;
    font-size: 18px;
    color: #14110f;
    text-decoration: none;
}

.cerrar-menu {
    align-self: flex-end;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.busqueda {
    background-color: #fffbff;
    width: 95%;
    max-width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto;
    gap: 10px;
}

.busqueda input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.busqueda .filtro-toggle {
    height: 100%;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #14110f;
    cursor: pointer;
}

.busqueda .filtro-toggle img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}



.especial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    border: 1px solid #14110f;
}

.slider-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.titulo-color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
}

.slider-inferior{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;}

.info-producto {
    margin-top: 8px;
    font-size: 16px;
    color: #111;
}


.select-talla {


    background: #006992;
    border: 1px solid #444;
    border-radius: 6px;
    cursor: pointer;
    color: #fffbff;
    font-weight: bold;
    height: 30px;
}



.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}



.contenedor-pagina {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 2px;
}

.sidebar {
    display: none;
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.sidebar h3 {
    margin-bottom: 10px;
}



.sidebar label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.productos {
    width: 100%;
    margin-top: 25px;
}

.productos h2 {
    margin-bottom: 10px;
    text-align: center;
}

.grid-productos {
    display: grid;
    gap: 15px;
    width: 100%;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    background: #fff;
}

.producto-imagen {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.add-carrito {
    border: none !important;
    background-color: #ff5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

    .grid-productos {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;
        gap: 1px;
    }

.producto-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}



.filtro-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 999;
    display: none;
    flex-direction: column;
    padding: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
}

.filtro-panel.active {
    display: flex;
    max-height: 70vh; /* Altura del dropdown al abrir */
}

.filtro-panel h3 {
    margin-bottom: 10px;
}

.filtro-grupo {
    margin-bottom: 20px;
}

.filtro-grupo h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.filtro-grupo label {
    display: block;
    margin: 6px 0;
    font-size: 14px;
}

.btn-cerrar-filtro {
    width: 100%;
    background: #ff5722;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}



@media(min-width: 768px) {


    .grid-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1024px) {
    header {
        height: 80px;
    }

    .sidebar {
        display: block;
    }

    
  body > div.busqueda > img.icono.filtro-toggle{
    display: none;
  }

  .filtro-panel {
    max-width: 400px;
    right: 0;
    left: auto;
    border-left: 1px solid #ccc;
    border-radius: 0 0 0 12px;
  }

  .filtro-contenido {
    width: 100%;
  }


    .grid-productos {
        grid-template-columns: repeat(3, 1fr);
    }

    .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 220px;
    padding: 15px 10px;
    
    border: 1px solid #ccc;
    background: #fafafa;
}

.sidebar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #111;
}

.sidebar label {
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.sidebar input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
    
}

.img-producto{
    width: 55%;
    height: 65%;
    object-fit: cover;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none; 
}

.productos-grid{display:grid;gap:16px;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));}
.productos-grid .product-card{border:1px solid #000;border-radius:12px;padding:12px;box-shadow: 0 4px 12px rgba(0,0,0,.08);}
.productos-grid .product-card .img-producto{width:100%;height:auto;border-radius:12px;border:1px solid #000;}
.productos-grid .product-card .slider-inferior{display:flex;gap:10px;align-items:center;justify-content:space-between;margin-top:10px;}
.productos-grid .product-card button{background:transparent;border:none;cursor:pointer;}
