@use "variables" as *;

@font-face {
  font-family: 'inter';
  src: url('/fuentes/Inter/Inter-VariableFont_opsz,wght.ttf');
}

body {
  background: $blanco;
  font-family: "inter", sans-serif;
  color: $negro;
}

.header {
  width: 100%;
  height: 70px;
  background: $blanco;
  border-bottom: 1px solid $negro;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo {
  height: 50px;
}

.header-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;

  &.left {
    position: absolute;
    left: 15px;
  }
}

.header-right {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 10px;
}

.menu-lateral {
  width: 240px;
  height: 100%;
  background: $blanco;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  border-right: 1px solid $negro;
  transform: translateX(-100%);
  transition: .3s ease;
  z-index: 20;

  &.open {
    transform: translateX(0);
  }
}

.cerrar-menu {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.menu-item {
  margin-bottom: 15px;

  .categoria {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    &.active {
      color: $naranja;
    }
  }

  .submenu {
    margin-left: 10px;
    margin-top: 5px;
    display: none;
    flex-direction: column;

    &.show {
      display: flex;
    }

    a {
      padding: 4px 0;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
