$blanco: #fffbff;
$negro: #111;
$azul: #003366;
$naranja: #ff5722;

$font-family-base: "inter", sans-serif;

$radius: 12px;
$radius-sm: 8px;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 32px;
$space-7: 40px;
$max-content: 1100px;
$max-card: 900px;

$shadow: 0 3px 8px rgba(0,0,0,0.12);

$bp-md: 768px;
$bp-lg: 1024px;
